.flyoutPanel {
    position: absolute;
    top: 49px;
    bottom: 0px;
    color: #fffffe;
    transition-duration: 0.1s;
    transition-timing-function: ease;
    background-color: #121416;
    z-index: 1001;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    .flyoutPanelInner {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .flyoutPanelHeader {
        font-size: 15px;
        padding: 0px 10px;
        line-height: 49px;
        border-bottom: 1px solid #454a4e;
    }

    .flyoutPanelBody {
        overflow-y: auto;
        flex: 1;
        padding: 10px;
    }

    .flyoutPanelFooter {
        padding: 10px 5px;
    }

    .flyoutCloseBtn {
        position: absolute;
        top: 2px;
        right: 2px;
        cursor: pointer;
        color: #666666;
    }
}
