.custom-device {
    height: 100%;
}

.custom-device-list {
    height: calc(100% - 20px);
    overflow-y: auto; 
}

.custom-device-item {
    margin: 2px 0px;
}

.custom-device-input {
    width: 40px;
    border: 1px solid #ccc;
    text-align: right;
}