.customDevice {
    height: 100%;
}

.customDeviceList {
    height: calc(100% - 20px);
    overflow-y: auto; 
}

.customDeviceItem {
    margin: 2px 0px;
}

.customDeviceInput {
    width: 40px;
    border: 1px solid #ccc;
    text-align: right;
}