.map-container {
  
  .loading-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
  }

  .map-container {
    position: relative;
    overflow: hidden;

    .static-bing-map { height: 336px; }
  }



  .infobox-close {
    top: 1px !important;
    margin-top: 3px !important;
  }

  .infobox-close-img {
    vertical-align: top;
    background-color: white;
    border-radius: 10px
   }

  .MicrosoftMap .Infobox {
    border-radius: 0px !important;
    background-color: #000 !important;

    .infobox-title {
      font-size: 10px !important;
      padding: 5px !important;
      margin-bottom: -2px !important;
      color: #fff;
    }
  }

  .bing-map {
    height: 356px;
    margin-left: -15px;
  }

  .dashboard_device_map {
    margin-left: -15px; //columns have negative margins
    margin-right: -15px;
  }

  .region-header {
    margin-left: -10px;
    height: 48px;
    background-color: #242628;
    padding: 15px 15px 15px 0px;
    color: #afb9c3;

    .more {
      float: right;
      font-size: 12px;
    }
    
    .device-location { padding-left: 20px; }
  }
}
