.device-location-conatiner {
  background-color: #1b1d1f;
  height: 356px;
  color: #afb9c3;
  margin-left: 5px;
  margin-right: 10px;

  .region { font-size: 20px; }

  .device-subheading { font-size: 12px; }

  .alarm-warning-container {
    margin-top: 100px;

    .total-alarms-container {
      display: inline-block;

      .total-alarms {
        color: #fc540a;
        font-size: 28px;
        display: inline-block;
      }

      .triangle {
        width: 30px;
        height: 12px;
        display: inline-block;
        margin-left: -16px;
      }

      .total-warnings { margin-left: -15px !important; }

      .critical {
        font-size: 12px;
        color: #ffffff;
      }
    }

    .warnings-container {
      .total-warnings { color: #fde870; }

      .rectangle {
        display: inline-block;
        padding-top: 3px;
        margin-left: 2px;
      }

      .warnings {
        font-size: 12px;
        color: #fff;
        margin-left: -15px;
      }
    }
  }

  .total-container {
    display: inline-block;
    color: #fff;
    padding-top: 20px;

    .total,
    .total-online,
    .total-offline { font-size: 30px; }

    .online,
    .offline,
    .warnings { font-size: 11px; }

    .total-online,
    .online { font-weight: bold !important; }

    .total-offline,
    .offline { color: #afb9c3 !important; }
  }
}
