.alarm-list {
  height: 100%;

  .grid-container {
    height: 300px;

    .pcs-grid-container.ag-dark.pcs-ag-dark {
      background-color: transparent;

      .ag-header,
      .ag-row,
      .ag-body,
      .ag-body-viewport { background-color: transparent; }

      .ag-cell { border-bottom: 2px solid #000 !important; }
      
    }
  }
}
