.alarm-list,
.ag-dark {
  background-color: #1b1d1f;
  color: #afb9c3;
  height: 100%;
}

.alarm-list {
  .grid-container {
    margin: 10px;
  }
}

.alarm-list {
  .grid-container {
    margin: 20px;
  }
}
