.alarm-list {
  height: 404px;
  margin-left: -16px;

  .grid-container {
    height: 300px;

    .pcs-grid-container.ag-dark.pcs-ag-dark {
      background-color: transparent;

      .ag-header,
      .ag-row,
      .ag-body,
      .ag-body-viewport { background-color: transparent; }

      .ag-cell { border-bottom: 2px solid #000 !important; }

    }
  }

  .Select-placeholder, 
  .Select--single > .Select-control .Select-value {
    padding-left: 15px;
    padding-top: 5px;
  }

  .Select-arrow-zone { padding-top : 0px; }

  .Select span { margin-top : 0px; }

  .Select-menu-outer {
    width: 150px;
    margin-left: 2px;
  }
}
