.deviceGroupEditorTile {
    margin:5px;
    color:#000000;
    overflow-y: auto;
}

.deviceGroupEditorLabel {
    margin: 10px 0px 10px 0px;
}

.deviceGroupEditorInput {
    width: 280px;
}

.deviceGroupEditorTable {
    margin: 10px 0px 10px 0px;
    min-height: 230px;
    max-height: 230px;
    overflow-Y: auto;
}

.deviceGroupEditorTable td {
    padding: 5px 5px 0px 0px;
}

.deviceGroupEditorControls {
    padding: 5px 5px 0px 0px;
}

.deviceGroupEditorWarning {
    color: red;
    float: left;
}

.deviceGroupEditorButton {
    float: right;
}