.system-details-container {

  .devices-header {
    font-size: 28px;
    font-weight: bold;
    color: #afb9c3;
  }

  .devices-placeholder {
    font-size: 14px;
    color: #fff;
  }

  .sytem-status-header{
    font-size:30px;
    font-weight: bold;
    color: #afb9c3;
  }
}
