.header-navigation {
  height: 49px;
  background-color: #121416;
  display: inline-block;
  justify-content: space-between;
  border-bottom:1px solid #454A4E;
}
.dashboard,
.project-name {
  color: #afb9c3;
}
.settings {
  width: 20px;
  margin-right: 18px;
  margin-left: 17px;
}
.project-settings {
  display: inline-block;
  float: right;
  margin-right: 10px;
}
.dashboard {
  padding: 14px;
  display:inline-block;
  margin-left:4px;
}
.project-name {
  border-right: 1.5px solid #afb9c3;
  display: inline-block;
  height: 48px;
  padding: 14px;
}
