.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 50px;
  margin-top: -15px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}