.main {
  height: 100%;
  display: flex;  
}

.mainbody {
  display: flex;
  flex-grow: 1;
  height: 100%;
  flex-direction: column;
  background-color:#121416;
}

.content {
  width: 100%;
  overflow: auto;
}
