.main-container {
  height: 100%;
  display: flex;  

  .main-content-container {
    display: flex;
    flex-grow: 1;
    height: 100%;
    flex-direction: column;
    background-color:#121416;
  
    .main-routing-container {
      width: 100%;
      overflow: auto;
      margin-top: 49px;
      flex: 1;
    }
  }
}
