.deviceConfig{
    margin:5px;
    color:#000000;
}

.deviceConfig table td{
    padding:10px 10px 0px 0px;
}

.marginTop20{
    margin-top:20px;
}

.btnConfirm{
    float:right;
    margin-top:20px;
}