.alarmCounter {
    text-align: center;
    height: 100%;
    background-color: #ffffff;
    margin: 5px;
}

.alarmCounterTitle {
    text-align: center;
    height: 20px;
}

.alarmCounterContent {
    margin: 10px 1px 1px 2px;
    font-weight: bold;
}
