$titleHeight: 20px;

.alarmCounter {
    text-align: center;
    height: 100%;
    background-color: #ffffff;
    margin: 5px;
}

.alarmCounterTitle {
    text-align: center;
    height: $titleHeight;
    margin: 5px;
}

.alarmCounterContent {
    height: calc(100% - #{$titleHeight});
    display: table;
    width: 100%;

    div {
        font-weight: bold;
        font-size: 1.7em;
        display: table-cell;
        vertical-align: middle;
    }
}
