.rule-overview-flyout{
  height: calc(100% - 20px);

  .title{
    font-size: 14px;
    color: #FFF;
    vertical-align: middle;
    text-align: left;
  }

  .description{
    font-size: 12px;
    color: #afb9c3;
    vertical-align: middle;
    text-align: left;
    margin-top: 10px;
  }

  .divider{
    border-bottom: solid #414649 2px;
  }

  .toggle-button{
    margin: 8px 0;
    .icon{
      display: inline-block;
      color: #AFB9C3;
      height: 14px;
      width: 14pt;
      margin: 0 4px;
      vertical-align: middle;
    }

    .text{
      display: inline-block;
      font-size: 14px;
      margin: 0 2px;
      vertical-align: middle;
      color: #FFF;
    }

    .text-disable{
      @extend .text;
      color: #afb9c3;
      text-transform: uppercase;
    }

    .icon-enabled{
      @extend .icon;
      background: url("../../assets/icons/Enabled.svg") no-repeat center;
      background-size: contain;
    }
    .icon-disabled{
      @extend .icon;
      background: url("../../assets/icons/Disabled.svg") no-repeat center;
      background-size: contain;
    }
    .icon-enable{
      @extend .icon;
      cursor: pointer;
      width: 24pt;
      background: url("../../assets/icons/Enable_toggle.svg") no-repeat center;
      background-size: auto;
      transition: background 500ms ease;
      vertical-align: middle;
      margin: 0 10px;
    }
    .icon-disable{
      @extend .icon;
      cursor: pointer;
      width: 24pt;
      background: url("../../assets/icons/DISABLE_toggle.svg") no-repeat center;
      background-size: auto;
      transition: background 500ms ease;
      vertical-align: middle;
      margin: 0 10px;
    }
  }

  .rule-overview-header{
    margin-top: 16px;
    position: relative;
  }

  .rule-overview-body{
    overflow-scrolling: auto;
    overflow-x: hidden;
    overflow-y: auto;
    margin-top: 24px;

    .overview-item{
      margin-bottom: 32px;

      .title{
        @extend .title;
        margin: 0;
      }

      .description{
        @extend .description;
      }

      .effectNumber{
        margin-top: 16px;
        .count{
          display: inline-block;
          font-size: 40px;
          font-weight: bold;
          color: #FFF;
          margin-right: 10px;
          line-height: 30px;
        }
        .text{
          display: inline-block;
          @extend .description;
          vertical-align: text-bottom;
        }
      }
    }
  }

  .rule-overview-summary{
    margin-top: 32px;
    margin-bottom: 64px;
  }

  .button{
    color: #FFF;
    background-color: #121416;
    border: none;
    margin: 0 20px;
    transition: background-color 500ms ease, color 500ms ease;
    font-size: 14px;
    float: right;
  }

  .button::before{
    content: '';
    background-size: contain;
    display: inline-block;
    color: #AFB9C3;
    height: 12px;
    width: 12px;
    margin: 0 8px;
    transition: filter 500ms ease;
  }

  .button-cancel:before{
    background: url("../../assets/icons/X.svg")center no-repeat;

  }
  .button-save::before{
    background: url("../../assets/icons/Edit.svg") center no-repeat;
  }

  .button:hover{
    color: #000;
    background-color: #afb9c3;
  }

  .button-cancel:hover::before ,.button-save:hover::before{
    filter: invert(100%) ;
  }

}


