@mixin labelHeight {
  line-height: 40px;
  height: 48px ;
}

.rule-overview-flyout{
  height: 70%;

  .title{
    font-size: 14pt;
    color: #FFF;
    vertical-align: middle;
    text-align: left;
    margin: 15px 0;
  }

  .description{
    font-size: 12pt;
    color: #afb9c3;
    vertical-align: middle;
    text-align: left;
    margin: 5px 0;
  }

  .divider{
    margin: 10px 0;
    border-bottom: solid #414649 2px;
  }

  .toggle-button{
    .icon{
      display: inline-block;
      color: #AFB9C3;
      height: 14pt;
      width: 14pt;
      margin: 0 4px;
      vertical-align: middle;
    }

    .text{
      line-height: 48px;
      display: inline-block;
      font-size: 14pt;
      margin: 0 2px;
      vertical-align: middle;
      color: #FFF;
    }

    .text-disable{
      @extend .text;
      color: #afb9c3;
      text-transform: uppercase;
    }

    .icon-enabled{
      @extend .icon;
      background: url("../../assets/icons/Enabled.svg") no-repeat center;
      background-size: contain;
    }
    .icon-disabled{
      @extend .icon;
      background: url("../../assets/icons/Disabled.svg") no-repeat center;
      background-size: contain;
    }
    .icon-enable{
      @extend .icon;
      cursor: pointer;
      width: 24pt;
      background: url("../../assets/icons/Enable_toggle.svg") no-repeat center;
      background-size: auto;
      transition: background 500ms ease;
      vertical-align: middle;
      margin: 0 10px;
    }
    .icon-disable{
      @extend .icon;
      cursor: pointer;
      width: 24pt;
      background: url("../../assets/icons/DISABLE_toggle.svg") no-repeat center;
      background-size: auto;
      transition: background 500ms ease;
      vertical-align: middle;
      margin: 0 10px;
    }
  }

  .rule-overview-header{
    margin-top: 10px;
    position: relative;
    height: 48px;
  }

  .rule-overview-body{
    overflow-scrolling: auto;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 80%;

    .overview-item{
      margin: 20px 0;

      .title{
        @extend .title;
        @include labelHeight;
        margin: 0;
      }

      .description{
        @extend .description;
        @include labelHeight;
      }

      .effectNumber{
        margin-top: 10px;
        .count{
          display: inline-block;
          font-size: 24pt;
          color: #FFF;
          margin: 0 10px;
        }
        .text{
          display: inline-block;
          @extend .description
        }
      }
    }
  }

  .button{
    color: #FFF;
    background-color: #121416;
    border: none;
    margin: 0 20px;
    transition: background-color 500ms ease, color 500ms ease;
    font-size: 14pt;
    float: right;
  }

  .button::before{
    content: '';
    background-size: contain;
    display: inline-block;
    color: #AFB9C3;
    height: 12pt;
    width: 12pt;
    margin: 0 8px;
    transition: filter 500ms ease;
  }

  .button-cancel:before{
    background: url("../../assets/icons/X.svg")center no-repeat;

  }
  .button-save::before{
    background: url("../../assets/icons/Edit.svg") center no-repeat;
  }

  .button:hover{
    color: #000;
    background-color: #afb9c3;
  }

  .button-cancel:hover::before ,.button-save:hover::before{
    filter: invert(100%) ;
  }

}


