.deviceOrganize {
    margin: 5px;
    color: #000000;

    .marginTop20 {
        margin-top: 20px;
    }

    .btnConfirm {
        float: right;
        margin-top: 20px;
    }

    .operation {
        cursor: pointer;
    }
}
